<div class="card-body" id="user_profile">
  <% if user_signed_in? && current_user == user%>
    <div class="d-flex justify-content-end">
      <%= link_to edit_profile_path,  data:{controller: "bs-modal-form"} do%>
        <i class="bi bi-pencil"></i>
      <% end%>
    </div>
  <% end %>
  <h3 class="fw-bold"><%= user.name%></h3>
  <p class="lead"><%= user.profile_title%></p>
  <p class="lead text-primary"><%= user.address%></p>
  <div id="user-connection-status">
    <% if user_signed_in? && current_user.checked_if_already_connected?(current_user, user)%>
      <%= link_to "Connect", connections_path, class: 'btn btn-primary'%>
    <% end%>
  </div>
</div>
